h1 {
    font-size: 72px;
    color: darkslategray;
}

h2 {
    font-size: 36px;
    opacity: 0;
    animation: appear 3s 3s forwards;
    color: darkslategray;
}

.container {
    margin: 4em;
    text-align: center;
}

.loader {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    margin: auto;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: coloredSpin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes coloredSpin {
    0% {
        transform: rotate(0deg) scale(.5);
    }
    25%{
        border-top-color: #2ecc71;
        border-bottom-color: #2ecc71;
    }
    50%{
        border-top-color: #3498db;
        border-bottom-color: #3498db;
        transform: rotate(180deg) scale(0.35);
    }
    75%{
        border-top-color: red;
        border-bottom-color: red;
    }
    100% {
        transform: rotate(360deg) scale(.5);
    }
}

@keyframes appear {
    0 {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}